# Covid-19 Dataset: Pre-Processing

## 1. Loading Modules

In [1]:
import numpy as np
import pandas as pd

## 2. Dataset Loading

In [2]:
df = pd.read_excel('covid_19_original_dataset.xlsx', sheet_name='all_data')

df.shape

(18646, 8)

In [3]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18646 entries, 0 to 18645
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              18646 non-null  int64
 1   ObservationDate  18646 non-null  object
 2   Province/State   9185 non-null   object
 3   Country/Region   18646 non-null  object
 4   Last Update      18646 non-null  object
 5   Confirmed        18646 non-null  int64
 6   Deaths           18646 non-null  int64
 7   Recovered        18646 non-null  int64
dtypes: int64(4), object(4)
memory usage: 1.1+ MB

## 3. Pre-Processing Pipeline

### 3.1 Basic

In [5]:
# Rename Features
df = df.rename(columns={'ObservationDate':'Report_Date', 'Province/State':'Province_State',
                        'Country/Region':'Country_Region', 'Confirmed':'Cases'})


# Change the Datatype
df = df.astype({'Cases':'int32','Deaths':'int32','Recovered':'int32'})


# Drop the Features
df = df.drop(columns=['SNo','Last Update'])


# Change from 'object' to 'date' Format
df['Report_Date'] = pd.to_datetime(df['Report_Date'], format='mixed', dayfirst=False)
#df['Report_Date'] = df['Report_Date'].dt.date


# Reorder the Features
df = df[['Report_Date', 'Country_Region', 'Province_State', 'Cases', 'Deaths', 'Recovered']]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18646 entries, 0 to 18645
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Report_Date     18646 non-null  datetime64[ns]
 1   Country_Region  18646 non-null  object
 2   Province_State  9185 non-null   object
 3   Cases           18646 non-null  int32
 4   Deaths          18646 non-null  int32
 5   Recovered       18646 non-null  int32
dtypes: datetime64[ns](1), int32(3), object(2)
memory usage: 655.6+ KB

In [7]:
df.isna().sum()

Report_Date          0
Country_Region       0
Province_State    9461
Cases                0
Deaths               0
Recovered            0
dtype: int64

### 3.2 Feature: 'Country_Region'

# Check for - Long Names, Inconsistency, Ships info

ctry = df['Country_Region'].unique().tolist()

print(f'Total Unique Labels for "Country_Region": {len(ctry)}')
      
#ctry

# Identified Issues:

Country/Region ---> Replace the following with suitable options
'Mainland China', 'United Arab Emirates', ' Azerbaijan', ('St. Martin',), 
'Bahamas, The', 'The Bahamas', 
'Gambia, The', 'The Gambia', 
'Fench Guiana', 
'occupied Palestinian territory'

(To be Done later) Ships ---> 'Others', 'Diamond Princess', 'MS Zaandam'

In [8]:
df['Country_Region'] = np.where(df['Country_Region']=='Mainland China','China',df['Country_Region'])

df['Country_Region'] = np.where(df['Country_Region']=='United Arab Emirates','UAE',df['Country_Region'])

df['Country_Region'] = np.where(df['Country_Region']==' Azerbaijan','Azerbaijan',df['Country_Region'])

df['Country_Region'] = np.where(df['Country_Region']=="('St. Martin',)",'St. Martin',df['Country_Region'])

df['Country_Region'] = np.where(df['Country_Region']=='Bahamas, The','Bahamas',df['Country_Region'])
df['Country_Region'] = np.where(df['Country_Region']=="The Bahamas",'Bahamas',df['Country_Region'])

df['Country_Region'] = np.where(df['Country_Region']=="Gambia, The",'Gambia',df['Country_Region'])
df['Country_Region'] = np.where(df['Country_Region']=="The Gambia",'Gambia',df['Country_Region'])

df['Country_Region'] = np.where(df['Country_Region']=="Fench Guiana",'French Guiana',df['Country_Region'])

df['Country_Region'] = np.where(df['Country_Region']=="occupied Palestinian territory",'Occupied Palestinian Territory',df['Country_Region'])

### 3.3 Feature: 'Province_State'

# Check for - Long Names, Inconsistency, Ships Info

prov = df['Province_State'].unique().tolist()

print(f'Total Unique Labels for "Province_State": {len(prov)}')

#prov

Province ---> Part-1: Replace the following with suitable options
' Montreal, QC'
' Norfolk County, MA'
'Fench Guiana'

'Falkland Islands (Islas Malvinas)', 'Falkland Islands (Malvinas)'

'Virgin Islands'
'Virgin Islands, U.S.'
'United States Virgin Islands'

'United Kingdom'

'St Martin'

In [9]:
df['Province_State'] = np.where(df['Province_State']=='Virgin Islands','US Virgin Islands',df['Province_State'])
df['Province_State'] = np.where(df['Province_State']=='Virgin Islands, U.S.','US Virgin Islands',df['Province_State'])
df['Province_State'] = np.where(df['Province_State']=='United States Virgin Islands','US Virgin Islands',df['Province_State'])

df['Province_State'] = np.where(df['Province_State']=='United Kingdom','UK',df['Province_State'])
df['Province_State'] = np.where(df['Province_State']=='British Virgin Islands','UK Virgin Islands',df['Province_State'])

df['Province_State'] = np.where(df['Province_State']=='St Martin','St. Martin',df['Province_State'])

df['Province_State'] = np.where(df['Province_State']=='Falkland Islands (Malvinas)','Falkland Islands (Islas Malvinas)',df['Province_State'])
df['Province_State'] = np.where(df['Province_State']=='Fench Guiana','French Guiana',df['Province_State'])

df['Province_State'] = np.where(df['Province_State']==' Montreal, QC','Montreal, QC',df['Province_State'])
df['Province_State'] = np.where(df['Province_State']==' Norfolk County, MA','Norfolk County, MA',df['Province_State'])

### 3.4 Ships Related Information in feature ['Country_Region','Province_State']

Country                         --->  Province

1) Others:                            Cruise Ship, Diamond Princess cruise ship
2) Diamond Princess:                  NaN
3) MS Zaandam:                        NaN


Province                         ---> Country

1) Cruise Ship:                       Others
2) Diamond Princess cruise ship:      Others, Australia, US, Canada
3) From Diamond Princess:             Australia, Israel
4) Grand Princess Cruise Ship:        US
5) Grand Princess:                    US, Canada


### Finally, data will have information related to 3 ships only ['Diamond Princess','Grand Princess', 'MS Zaandam']

#### Date Series Related Issue:


['Others(46)', 'Australia(8/30)', 'Israel(5)', 'US(47)', 'Canada(24)', 'Diamond Princess(32)'] ---> Diamond Princess - (184) 

Others-DP (07-02 to 23-03) , DP-DP (25-03 to 25-04), AUS-DP (21-02 to 28-02), ISRAEL-DP (21-02 to 25-02), 
US-DP (10-03 to 25-04), Canada-DP (22-03 to 25-04)

################################################################################################################################

[US(50), Canada(38)]                                                                           ---> Grand Princess - (88)
US-GP (07-03 to 25-04), Canada-GP (13-03 to 21-04)

################################################################################################################################

MS Zaandam - (29) [28-03 to 25-04]

# Replacing 'Others' with 'Diamond Princess'
# Due to following fact (reason) of Dates Sequence in Country_Region ---> Province_State features

# Others           ---> Diamond Princess (07-02 to 23-03)  (46)
# Diamond Princess ---> Diamond Princess (25-03 to 25-04)  (32)
------------------------------------------------------------------
                                                           (78)

In [10]:
### Setting Ships Info under 'Province_State'

df['Province_State'] = np.where(df['Province_State']=='Grand Princess Cruise Ship','Grand Princess',df['Province_State'])

df['Province_State'] = np.where(df['Province_State']=='Cruise Ship','Diamond Princess',df['Province_State'])
df['Province_State'] = np.where(df['Province_State']=='From Diamond Princess','Diamond Princess',df['Province_State'])
df['Province_State'] = np.where(df['Province_State']=='Diamond Princess cruise ship','Diamond Princess',df['Province_State'])

In [11]:
# Filling Null Values in 'Province_State' feature with the same value as in 'Country_Region'

df['Province_State'] = np.where(df['Province_State'].isnull(),df['Country_Region'],df['Province_State'])

In [12]:
### Setting Ships Info under 'Country_Region'

df['Country_Region'] = np.where(df['Country_Region']=='Others','Diamond Princess',df['Country_Region'])
df['Country_Region'] = np.where(df['Province_State']=='Grand Princess','Grand Princess',df['Country_Region'])
df['Country_Region'] = np.where(df['Province_State']=='Diamond Princess','Diamond Princess',df['Country_Region'])

## 3.5 Checking Null Values and Duplicates

In [13]:
print(df.isna().sum())
print(df.duplicated().sum())

filt = df.duplicated()      
res = df.loc[filt]
res

Report_Date       0
Country_Region    0
Province_State    0
Cases             0
Deaths            0
Recovered         0
dtype: int64
1

     Report_Date Country_Region     Province_State  Cases  Deaths  Recovered
6683  2020-03-18             US  US Virgin Islands      2       0          0

In [14]:
# Drop Duplicate Here, due to same value in 'Province_State' for the above record

df = df.drop_duplicates()

df.shape

(18645, 6)

In [15]:
dff = df.copy()
dff.shape

(18645, 6)

## 3.6 Other Issues

US, Canada
-----------
- States are written with inconsistent naming conventions
- Ships also have some naming issues
- 'Province_State' contains the records for 'recovered' label.

Province ---> Part-2: 
'Omaha, NE (From Diamond Princess)',
'Travis, CA (From Diamond Princess)',
'Lackland, TX (From Diamond Princess)',
'Unassigned Location (From Diamond Princess)',

'Unassigned Location, WA'
'Unassigned Location, VT'
'Unknown Location, MA'
'Washington, D.C.'

### Inconsistent naming conventions under 'Province_State'
### Issues under 'Province_State' related to comma(,) as 'city, state' for the below countries

Netherlands - 24

Canada - 83

US - 15, 51, 800

In [16]:
filt_comma = (dff['Province_State'].str.contains(',')) | (dff['Province_State'].str.contains('From Diamond Princess'))

res_comma = dff.loc[filt_comma]

print(res_comma.shape)
res_comma.sample(10)

(973, 6)

,Report_Date,Country_Region,Province_State,Cases,Deaths,Recovered
3958,2020-03-07,US,"Grant County, WA",1,0,0
4453,2020-03-09,US,"Charleston County, SC",1,0,0
835,2020-02-05,US,"Tempe, AZ",1,0,0
3755,2020-03-06,US,"Wake County, NC",1,0,0
3893,2020-03-07,US,"Montgomery County, MD",3,0,0
2788,2020-02-29,Canada,"London, ON",1,0,1
1035,2020-02-08,US,"Santa Clara, CA",2,0,0
2085,2020-02-22,US,"Chicago, IL",2,0,2
4423,2020-03-09,US,"Manatee County, FL",2,0,0
3344,2020-03-04,US,"San Benito, CA",2,0,0

In [17]:
cntry = res_comma['Country_Region'].unique()
cntry

array(['US', 'Canada', 'Netherlands'], dtype=object)

In [18]:
codes = pd.read_excel('covid_19_original_dataset.xlsx', sheet_name='us_state_codes')
print(codes.shape)
print(codes.head())

st_abbr = codes['Abbr'].values.tolist()
st_full = codes['State'].values.tolist()

(57, 2)
  Abbr           State
0   AL         Alabama
1   AK          Alaska
2   AZ         Arizona
3   AR        Arkansas
4   AS  American Samoa

In [19]:
################################ Netherlands Data Pre-Processing  ##############################

################################ Filtering the data based on Country and Province conditions ##############################
filt_nether_comma = (dff['Country_Region'] == 'Netherlands') & (dff['Province_State'].str.contains(','))
nether_comma = dff.loc[filt_nether_comma]
print(f'Filtered Data Shape: {nether_comma.shape}')
print(f'{nether_comma.head()}')

print('\n ################################################################################################################### \n')

################################ Removing filtered dataset fromt the original dataset ##############################
print(f'Initial Whole Dataset Shape: {dff.shape}')
dff = dff[~filt_nether_comma]                          # dff without 'Netherlands', ','
print(f'Final Whole Dataset Shape: {dff.shape}')
print(f'{dff.loc[filt_nether_comma].head()}')          # displays empty dataset

print('\n ################################################################################################################### \n')

################################ Pre-Processing Function ##############################
def nether_comma_state(x):
    
    city, state = x.split(', ')
        
    return state

nether_comma = nether_comma.assign(Province_State = lambda x: nether_comma['Province_State'].apply(nether_comma_state))
print(f'Pre-Processed Data Shape: {nether_comma.shape} \n')
print(f'Netherlands Province or States: {nether_comma["Province_State"].unique()} \n')
print(f'{nether_comma.head()} \n\n')

print('\n ################################################################################################################### \n')

################################ Concatenating 'Final Whole Dataset' and 'Pre-Processed Dataset' ##############################
dff = pd.concat([dff,nether_comma], axis=0)

print(f'Final Concatenated Dataset Shape: {dff.shape} \n')
dff.loc[filt_nether_comma].head()

Filtered Data Shape: (24, 6)
      Report_Date Country_Region                    Province_State  Cases  \
11170  2020-04-02    Netherlands  Bonaire, Sint Eustatius and Saba      2
11485  2020-04-03    Netherlands  Bonaire, Sint Eustatius and Saba      2
11800  2020-04-04    Netherlands  Bonaire, Sint Eustatius and Saba      2
12118  2020-04-05    Netherlands  Bonaire, Sint Eustatius and Saba      2
12438  2020-04-06    Netherlands  Bonaire, Sint Eustatius and Saba      2

       Deaths  Recovered
11170       0          0
11485       0          0
11800       0          0
12118       0          0
12438       0          0

 ###################################################################################################################

Initial Whole Dataset Shape: (18645, 6)
Final Whole Dataset Shape: (18621, 6)
Empty DataFrame
Columns: [Report_Date, Country_Region, Province_State, Cases, Deaths, Recovered]
Index: []

 ###################################################################################################################

Pre-Processed Data Shape: (24, 6)

Netherlands Province or States: ['Sint Eustatius and Saba']

      Report_Date Country_Region           Province_State  Cases  Deaths  \
11170  2020-04-02    Netherlands  Sint Eustatius and Saba      2       0
11485  2020-04-03    Netherlands  Sint Eustatius and Saba      2       0
11800  2020-04-04    Netherlands  Sint Eustatius and Saba      2       0
12118  2020-04-05    Netherlands  Sint Eustatius and Saba      2       0
12438  2020-04-06    Netherlands  Sint Eustatius and Saba      2       0

       Recovered
11170          0
11485          0
11800          0
12118          0
12438          0



 ###################################################################################################################

Final Concatenated Dataset Shape: (18645, 6)

,Report_Date,Country_Region,Province_State,Cases,Deaths,Recovered
11170,2020-04-02,Netherlands,Sint Eustatius and Saba,2,0,0
11485,2020-04-03,Netherlands,Sint Eustatius and Saba,2,0,0
11800,2020-04-04,Netherlands,Sint Eustatius and Saba,2,0,0
12118,2020-04-05,Netherlands,Sint Eustatius and Saba,2,0,0
12438,2020-04-06,Netherlands,Sint Eustatius and Saba,2,0,0

In [20]:
################################ Canada Data Pre-Processing  ##############################

################################ Filtering the data based on Country and Province conditions ##############################
filt_canada_comma = (dff['Country_Region'] == 'Canada') & (dff['Province_State'].str.contains(','))
canada_comma = dff.loc[filt_canada_comma]
print(f'Filtered Data Shape: {canada_comma.shape}')
print(f'{canada_comma.head()}')

print('\n ################################################################################################################### \n')

################################ Removing filtered dataset fromt the original dataset ##############################
print(f'Initial Whole Dataset Shape: {dff.shape}')
dff = dff[~filt_canada_comma]                          # dff without 'Canada', ','
print(f'Final Whole Dataset Shape: {dff.shape}')
print(f'{dff.loc[filt_canada_comma].head()}')          # displays empty dataset

print('\n ################################################################################################################### \n')

################################ Pre-Processing Function ##############################
def canada_comma_state(x):
    
    city, state = x.split(', ')
        
    if state == 'ON':
        return 'Ontario'
    elif state == 'QC':
        return 'Quebec'
    elif state == 'Alberta':
        return 'Alberta'
    else:
        return x

canada_comma = canada_comma.assign(Province_State = lambda x: canada_comma['Province_State'].apply(canada_comma_state))
print(f'Pre-Processed Data Shape: {canada_comma.shape} \n')
print(f'Canada Province or States: {canada_comma["Province_State"].unique()} \n')
print(f'{canada_comma.head()} \n\n')

print('\n ################################################################################################################### \n')

################################ Concatenating 'Final Whole Dataset' and 'Pre-Processed Dataset' ##############################
dff = pd.concat([dff,canada_comma], axis=0)

print(f'Final Concatenated Dataset Shape: {dff.shape} \n')
dff.loc[filt_canada_comma].head()

Filtered Data Shape: (83, 6)
    Report_Date Country_Region Province_State  Cases  Deaths  Recovered
742  2020-02-04         Canada    Toronto, ON      2       0          0
753  2020-02-04         Canada     London, ON      1       0          0
813  2020-02-05         Canada    Toronto, ON      2       0          0
823  2020-02-05         Canada     London, ON      1       0          0
884  2020-02-06         Canada    Toronto, ON      2       0          0

 ###################################################################################################################

Initial Whole Dataset Shape: (18645, 6)
Final Whole Dataset Shape: (18562, 6)
Empty DataFrame
Columns: [Report_Date, Country_Region, Province_State, Cases, Deaths, Recovered]
Index: []

 ###################################################################################################################

Pre-Processed Data Shape: (83, 6)

Canada Province or States: ['Ontario' 'Quebec' 'Alberta']

    Report_Date Country_Region Province_State  Cases  Deaths  Recovered
742  2020-02-04         Canada        Ontario      2       0          0
753  2020-02-04         Canada        Ontario      1       0          0
813  2020-02-05         Canada        Ontario      2       0          0
823  2020-02-05         Canada        Ontario      1       0          0
884  2020-02-06         Canada        Ontario      2       0          0



 ###################################################################################################################

Final Concatenated Dataset Shape: (18645, 6)

    Report_Date Country_Region Province_State  Cases  Deaths  Recovered
742  2020-02-04         Canada        Ontario      2       0          0
753  2020-02-04         Canada        Ontario      1       0          0
813  2020-02-05         Canada        Ontario      2       0          0
823  2020-02-05         Canada        Ontario      1       0          0
884  2020-02-06         Canada        Ontario      2       0          0

In [21]:
################################ US Data Pre-Processing - 1 ##############################

################################ Filtering the data based on Country and Province conditions ##############################
filt_us_ua_fdp = ((dff['Country_Region'] == 'US') 
                                             & (dff['Province_State'].str.contains('From Diamond Princess')) 
                                             & (dff['Province_State'].str.startswith('Unassigned')))
us_ua_fdp = dff.loc[filt_us_ua_fdp]
print(f'Filtered Data Shape: {us_ua_fdp.shape}')
print(f'{us_ua_fdp.head()}')

print('\n ################################################################################################################### \n')

################################ Removing filtered dataset fromt the original dataset ##############################
print(f'Initial Whole Dataset Shape: {dff.shape}')
dff = dff[~filt_us_ua_fdp]                          # dff without 'US', ['Unassigned', 'From Diamond Princess']
print(f'Final Whole Dataset Shape: {dff.shape}')
print(f'{dff.loc[filt_us_ua_fdp].head()}')          # displays empty dataset

print('\n ################################################################################################################### \n')

################################ Pre-Processing Function ##############################
def us_fdp(x):
    return 'Diamond Princess'

us_ua_fdp = us_ua_fdp.assign(Province_State = lambda x: us_ua_fdp['Province_State'].apply(us_fdp))
print(f'Pre-Processed Data Shape: {us_ua_fdp.shape} \n')
print(f'US Province or States for ship: {us_ua_fdp["Province_State"].unique()} \n')
print(f'{us_ua_fdp.head()} \n\n')

print('\n ################################################################################################################### \n')

################################ Concatenating 'Final Whole Dataset' and 'Pre-Processed Dataset' ##############################
dff = pd.concat([dff,us_ua_fdp], axis=0)

print(f'Final Concatenated Dataset Shape: {dff.shape} \n')
dff.loc[filt_us_ua_fdp].head()

Filtered Data Shape: (15, 6)
     Report_Date Country_Region                               Province_State  \
2231  2020-02-24             US  Unassigned Location (From Diamond Princess)
2322  2020-02-25             US  Unassigned Location (From Diamond Princess)
2415  2020-02-26             US  Unassigned Location (From Diamond Princess)
2518  2020-02-27             US  Unassigned Location (From Diamond Princess)
2624  2020-02-28             US  Unassigned Location (From Diamond Princess)

      Cases  Deaths  Recovered
2231     36       0          0
2322     36       0          0
2415     42       0          0
2518     42       0          0
2624     44       0          0

 ###################################################################################################################

Initial Whole Dataset Shape: (18645, 6)
Final Whole Dataset Shape: (18630, 6)
Empty DataFrame
Columns: [Report_Date, Country_Region, Province_State, Cases, Deaths, Recovered]
Index: []

 ###################################################################################################################

Pre-Processed Data Shape: (15, 6)

US Province or States for ship: ['Diamond Princess']

     Report_Date Country_Region    Province_State  Cases  Deaths  Recovered
2231  2020-02-24             US  Diamond Princess     36       0          0
2322  2020-02-25             US  Diamond Princess     36       0          0
2415  2020-02-26             US  Diamond Princess     42       0          0
2518  2020-02-27             US  Diamond Princess     42       0          0
2624  2020-02-28             US  Diamond Princess     44       0          0



 ###################################################################################################################

Final Concatenated Dataset Shape: (18645, 6)

     Report_Date Country_Region    Province_State  Cases  Deaths  Recovered
2231  2020-02-24             US  Diamond Princess     36       0          0
2322  2020-02-25             US  Diamond Princess     36       0          0
2415  2020-02-26             US  Diamond Princess     42       0          0
2518  2020-02-27             US  Diamond Princess     42       0          0
2624  2020-02-28             US  Diamond Princess     44       0          0

In [22]:
################################ US Data Pre-Processing - 2 ##############################

################################ Filtering the data based on Country and Province conditions ##############################
filt_us_fdp = ((dff['Country_Region'] == 'US') & (dff['Province_State'].str.contains('From Diamond Princess')))

us_fdp = dff.loc[filt_us_fdp]
print(f'Filtered Data Shape: {us_fdp.shape}')
print(f'{us_fdp.head()}')

print('\n ################################################################################################################### \n')

################################ Removing filtered dataset fromt the original dataset ##############################
print(f'Initial Whole Dataset Shape: {dff.shape}')
dff = dff[~filt_us_fdp]                          # dff without 'US', ['city', 'State' 'From Diamond Princess']
print(f'Final Whole Dataset Shape: {dff.shape}')
print(f'{dff.loc[filt_us_fdp].head()}')          # displays empty dataset

print('\n ################################################################################################################### \n')

################################ Pre-Processing Function ##############################
def us_comma_state_space(x):

    city, state_fdp = x.split(', ', maxsplit=1)             # city, state + fdp

    state, fdp = state_fdp.split(' ', maxsplit=1)           # state, fdp

    for s in range(0, len(st_abbr)):
        if state == st_abbr[s]:
            return st_full[s]

us_fdp = us_fdp.assign(Province_State = lambda x: us_fdp['Province_State'].apply(us_comma_state_space))
print(f'Pre-Processed Data Shape: {us_fdp.shape} \n')
print(f'US Province or States: {us_fdp["Province_State"].unique()} \n')
print(f'{us_fdp.head()} \n\n')

print('\n ################################################################################################################### \n')

################################ Concatenating 'Final Whole Dataset' and 'Pre-Processed Dataset' ##############################
dff = pd.concat([dff,us_fdp], axis=0)

print(f'Final Concatenated Dataset Shape: {dff.shape} \n')
dff.loc[filt_us_fdp].head()

Filtered Data Shape: (51, 6)
     Report_Date Country_Region                        Province_State  Cases  \
2070  2020-02-22             US     Omaha, NE (From Diamond Princess)     11
2076  2020-02-22             US    Travis, CA (From Diamond Princess)      5
2086  2020-02-22             US  Lackland, TX (From Diamond Princess)      2
2154  2020-02-23             US     Omaha, NE (From Diamond Princess)     11
2160  2020-02-23             US    Travis, CA (From Diamond Princess)      5

      Deaths  Recovered
2070       0          0
2076       0          0
2086       0          0
2154       0          0
2160       0          0

 ###################################################################################################################

Initial Whole Dataset Shape: (18645, 6)
Final Whole Dataset Shape: (18594, 6)
Empty DataFrame
Columns: [Report_Date, Country_Region, Province_State, Cases, Deaths, Recovered]
Index: []

 ###################################################################################################################

Pre-Processed Data Shape: (51, 6)

US Province or States: ['Nebraska' 'California' 'Texas']

     Report_Date Country_Region Province_State  Cases  Deaths  Recovered
2070  2020-02-22             US       Nebraska     11       0          0
2076  2020-02-22             US     California      5       0          0
2086  2020-02-22             US          Texas      2       0          0
2154  2020-02-23             US       Nebraska     11       0          0
2160  2020-02-23             US     California      5       0          0



 ###################################################################################################################

Final Concatenated Dataset Shape: (18645, 6)

     Report_Date Country_Region Province_State  Cases  Deaths  Recovered
2070  2020-02-22             US       Nebraska     11       0          0
2076  2020-02-22             US     California      5       0          0
2086  2020-02-22             US          Texas      2       0          0
2154  2020-02-23             US       Nebraska     11       0          0
2160  2020-02-23             US     California      5       0          0

In [23]:
################################ US Data Pre-Processing - 3 ##############################

################################ Filtering the data based on Country and Province conditions ##############################
filt_us_state = ((dff['Country_Region'] == 'US') & (dff['Province_State'].str.contains(',')))

us_state = dff.loc[filt_us_state]
print(f'Filtered Data Shape: {us_state.shape}')
print(f'{us_state.head()}')

print('\n ################################################################################################################### \n')

################################ Removing filtered dataset fromt the original dataset ##############################
print(f'Initial Whole Dataset Shape: {dff.shape}')
dff = dff[~filt_us_state]                          # dff without 'US', ['city', 'State']
print(f'Final Whole Dataset Shape: {dff.shape}')
print(f'{dff.loc[filt_us_state].head()}')          # displays empty dataset

print('\n ################################################################################################################### \n')

################################ Pre-Processing Function ##############################
def us_comma_state(x):
    x = x.strip()
    city, state = x.split(', ', maxsplit=1)             # city, state

    for s in range(0, len(st_abbr)):
        if state == st_abbr[s]:
            return st_full[s]

us_state = us_state.assign(Province_State = lambda x: us_state['Province_State'].apply(us_comma_state))
print(f'Pre-Processed Data Shape: {us_state.shape} \n')
print(f'US Province or States: {us_state["Province_State"].unique()} \n')
print(f'{us_state.head()} \n\n')

print('\n ################################################################################################################### \n')

################################ Concatenating 'Final Whole Dataset' and 'Pre-Processed Dataset' ##############################
dff = pd.concat([dff,us_state], axis=0)

print(f'Final Concatenated Dataset Shape: {dff.shape} \n')
dff.loc[filt_us_state].head()

Filtered Data Shape: (800, 6)
    Report_Date Country_Region   Province_State  Cases  Deaths  Recovered
542  2020-02-01             US      Chicago, IL      2       0          0
554  2020-02-01             US       Boston, MA      1       0          0
555  2020-02-01             US  Los Angeles, CA      1       0          0
556  2020-02-01             US       Orange, CA      1       0          0
557  2020-02-01             US  Santa Clara, CA      1       0          0

 ###################################################################################################################

Initial Whole Dataset Shape: (18645, 6)
Final Whole Dataset Shape: (17845, 6)
Empty DataFrame
Columns: [Report_Date, Country_Region, Province_State, Cases, Deaths, Recovered]
Index: []

 ###################################################################################################################

Pre-Processed Data Shape: (800, 6)

US Province or States: ['Illinois' 'Massachusetts' 'California' 'Washington' 'Arizona'
 'Wisconsin' 'Texas' 'Nebraska' 'Oregon' 'Rhode Island' 'New Hampshire'
 'Florida' 'New York' 'Georgia' 'North Carolina' 'New Jersey' 'Nevada'
 'Tennessee' 'Maryland' 'Colorado' 'Pennsylvania' 'Kentucky' 'Indiana'
 'Minnesota' 'Connecticut' 'South Carolina' 'Utah' 'Hawaii' 'Oklahoma'
 'Virginia' 'District of Columbia' 'Kansas' 'Missouri' 'Vermont' 'Iowa'
 'Louisiana']

    Report_Date Country_Region Province_State  Cases  Deaths  Recovered
542  2020-02-01             US       Illinois      2       0          0
554  2020-02-01             US  Massachusetts      1       0          0
555  2020-02-01             US     California      1       0          0
556  2020-02-01             US     California      1       0          0
557  2020-02-01             US     California      1       0          0



 ###################################################################################################################

Final Concatenated Dataset Shape: (18645, 6)

    Report_Date Country_Region Province_State  Cases  Deaths  Recovered
542  2020-02-01             US       Illinois      2       0          0
554  2020-02-01             US  Massachusetts      1       0          0
555  2020-02-01             US     California      1       0          0
556  2020-02-01             US     California      1       0          0
557  2020-02-01             US     California      1       0          0

Check ---> (US, Recovered), (Canada, Recovered)

In [24]:
################################ US Data Pre-Processing - 4 ##############################

################################ Filtering the data based on Country and Province conditions ##############################
filt = (dff['Country_Region'] == 'US') & (dff['Province_State'] == 'US')

res = dff.loc[filt]
res.shape

print('\n ################################################################################################################### \n')

################################ Removing filtered dataset fromt the original dataset ##############################
print(f'Initial Whole Dataset Shape: {dff.shape}')
dff = dff[~filt]                          # dff without 'US', 'US'
print(f'Final Whole Dataset Shape: {dff.shape}')
print(f'{dff.loc[filt].head()}')          # displays empty dataset

print('\n ################################################################################################################### \n')

################################ Pre-Processing Functions ##############################
def us_recov_prov(x):
    
    if x == 'US':
        return 'Recovered'

def us_recov(x):
    
    if x == 1:
        return 0

res = res.assign(Province_State = lambda x: res['Province_State'].apply(us_recov_prov))
res = res.assign(Cases = lambda x: res['Cases'].apply(us_recov))
print(f'Pre-Processed Data Shape: {res.shape} \n')
print(f'US Province or States: {res["Province_State"].unique()} \n')
print(f'{res.head()} \n\n')

print('\n ################################################################################################################### \n')

################################ Concatenating 'Final Whole Dataset' and 'Pre-Processed Dataset' ##############################
dff = pd.concat([dff,res], axis=0)

print(f'Final Concatenated Dataset Shape: {dff.shape} \n')
dff.loc[filt].head()

 ###################################################################################################################

Initial Whole Dataset Shape: (18645, 6)
Final Whole Dataset Shape: (18641, 6)
Empty DataFrame
Columns: [Report_Date, Country_Region, Province_State, Cases, Deaths, Recovered]
Index: []

 ###################################################################################################################

Pre-Processed Data Shape: (4, 6)

US Province or States: ['Recovered']

     Report_Date Country_Region Province_State  Cases  Deaths  Recovered
6707  2020-03-18             US      Recovered      0       0        106
6999  2020-03-19             US      Recovered      0       0        108
7296  2020-03-20             US      Recovered      0       0        147
7600  2020-03-21             US      Recovered      0       0        171



 ###################################################################################################################

Final Concatenated Dataset Shape: (18645, 6)

     Report_Date Country_Region Province_State  Cases  Deaths  Recovered
6707  2020-03-18             US      Recovered      0       0        106
6999  2020-03-19             US      Recovered      0       0        108
7296  2020-03-20             US      Recovered      0       0        147
7600  2020-03-21             US      Recovered      0       0        171

In [25]:
NOTE = '''Duplicated Records here are actually NOT Duplicated, due to the fact that these records are generated after pre-processing 
and renaming to only Province or State, instead of (City, States).'''

print(NOTE)
print(f'\n Duplicated Values: {dff.duplicated().sum()} \n')

print('-------------------------------------------------------------------------------------------------------------------- \n')
print(f'Null Values:')
print(dff.isnull().sum())

Duplicated Records here are actually NOT Duplicated, due to the fact that these records are generated after pre-processing
and renaming to only Province or State, instead of (City, States).

 Duplicated Values: 222

--------------------------------------------------------------------------------------------------------------------

Null Values:
Report_Date       0
Country_Region    0
Province_State    0
Cases             0
Deaths            0
Recovered         0
dtype: int64

In [26]:
filt = dff.duplicated()

dff.loc[filt].tail(50)

     Report_Date Country_Region  Province_State  Cases  Deaths  Recovered
4217  2020-03-08             US   Massachusetts      1       0          0
4218  2020-03-08             US         Georgia      1       0          0
4220  2020-03-08             US      California      1       0          0
4223  2020-03-08             US         Florida      1       0          0
4224  2020-03-08             US       Tennessee      1       0          0
4225  2020-03-08             US      California      1       0          0
4226  2020-03-08             US      Washington      1       0          0
4230  2020-03-08             US        New York      1       0          0
4231  2020-03-08             US          Oregon      1       0          0
4233  2020-03-08             US   Massachusetts      1       0          0
4234  2020-03-08             US         Florida      1       0          0
4235  2020-03-08             US  North Carolina      1       0          0
4236  2020-03-08             US    Pennsylvania      1       0          0
4237  2020-03-08             US       Tennessee      1       0          0
4238  2020-03-08             US      California      1       0          0
4244  2020-03-08             US           Texas      0       0          0
4365  2020-03-09             US           Texas      6       0          0
4423  2020-03-09             US         Florida      2       0          0
4425  2020-03-09             US      California      2       0          0
4426  2020-03-09             US      California      2       0          0
4427  2020-03-09             US      California      2       0          0
4429  2020-03-09             US        Colorado      2       0          0
4431  2020-03-09             US          Nevada      2       0          0
4470  2020-03-09             US      California      1       0          0
4471  2020-03-09             US        Kentucky      1       0          0
4472  2020-03-09             US      Washington      1       0          0
4475  2020-03-09             US      Washington      1       0          0
4476  2020-03-09             US          Oregon      1       0          0
4477  2020-03-09             US      California      1       0          0
4480  2020-03-09             US          Oregon      1       0          0
4481  2020-03-09             US         Florida      1       0          0
4482  2020-03-09             US   Massachusetts      1       0          0
4483  2020-03-09             US         Georgia      1       0          0
4484  2020-03-09             US       Minnesota      1       0          0
4485  2020-03-09             US      California      1       0          0
4487  2020-03-09             US           Texas      1       0          0
4489  2020-03-09             US         Florida      1       0          0
4490  2020-03-09             US      California      1       0          0
4491  2020-03-09             US       Tennessee      1       0          0
4492  2020-03-09             US  South Carolina      1       0          0
4493  2020-03-09             US      Washington      1       0          0
4497  2020-03-09             US        New York      1       0          0
4498  2020-03-09             US          Oregon      1       0          0
4499  2020-03-09             US   Massachusetts      1       0          0
4500  2020-03-09             US         Florida      1       0          0
4501  2020-03-09             US  North Carolina      1       0          0
4502  2020-03-09             US    Pennsylvania      1       0          0
4503  2020-03-09             US       Tennessee      1       0          0
4504  2020-03-09             US      California      1       0          0
4510  2020-03-09             US           Texas      0       0          0

## 4. Saving the Final Dataset (CSV, XLSX)

In [27]:
### Copying 'dff' to 'df'

df = dff.copy()

df.shape

(18645, 6)

In [28]:
df.to_excel('Covid_19_final_dataset.xlsx', index=False)
print(f'Data saved in XLSX file ... \n')

df.to_csv('Covid_19_final_dataset.csv', index=False)
print(f'Data saved in CSV file ...')

Data saved in XLSX file ...

Data saved in CSV file ...